[user]
	name = rohmanhida
	email = hodyjones99@gmail.com
[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = plaintext
[pull]
  rebase = false
[alias]
  co = checkout
  br = branch
  st = status
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	username = rohmanhida
