@define-color bg       #fbf1c7;
@define-color red      #cc241d;
@define-color red_s    #9d0006;
@define-color green    #98971a;
@define-color green_s  #79740e;
@define-color yellow   #d79921;
@define-color yellow_s #b57614;
@define-color blue     #458588;
@define-color blue_s   #076658;
@define-color purple   #b16286;
@define-color purple_s #8f3f71;
@define-color aqua     #689d6a;
@define-color aqua_s   #427b58;
@define-color gray     #928374;
@define-color orange   #d65d0e;
@define-color orange_s #af3a03;
@define-color fg       #3c3836;
@define-color bg0_h    #f9f5d7;
@define-color bg0_s    #f2e5bc;
@define-color bg1      #ebdbb2;
@define-color bg2      #d5c4a1;
@define-color bg3      #bdae93;
@define-color bg4      #a89984;
@define-color fg0      #282828;
@define-color fg1      #3c3836;
@define-color fg2      #504945;
@define-color fg3      #665c54;
@define-color fg4      #7c6f64;

* {
  all: unset;
  font-family: "IosevkaTerm Nerd Font Mono";
  transition: 0.3s;
  font-size: 12;
}

.floating-notifications.background .notification-row {
  padding: 10px;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: alpha(@bg, 0.7);
  color: @fg;
  border: 1px solid @gray;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @red;
  background-color: @red_s;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0px 0.5rem;
  color: @fg;
  font-weight: 700;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0px 0.5rem;
  color: @fg;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @fg;
  background-color: @bg2;
  border: 1px solid @green;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @bg3;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @green_s;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @fg;
  background-color: @red_s;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: @fg0;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @red_s;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: alpha(@bg, 0.7);
  color: @fg;
  padding: 1rem;
  border: 1px solid @green;
}

.control-center .widget-title {
  color: @fg;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: @fg;
  background-color: alpha(@bg, 0.7);
  border: 1px solid @green;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: @green_s;
}

.control-center .widget-title button:active {
  background-color: @green;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: alpha(@bg, 0.7);
  color: @fg;
  border: 1px solid @green;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @green;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @fg;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 1rem 0.5rem 0px 0.5rem;
  color: @fg;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0px 0.5rem 1rem 0.5rem;
  color: @fg;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @fg;
  background-color: @bg2;
  border: 1px solid @green;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @bg3;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @bg3;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @fg;
  background-color: @red;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: @red;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @red;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: @red_s;
}

.notification.low progress,
.notification.normal progress {
  background-color: alpha(@bg, 0.7);
}

trough {
  background-color: alpha(@bg, 0.7);
}

.control-center trough {
  background-color: alpha(@bg, 0.7);
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: alpha(@bg, 0.7);
  border-radius: 0.5rem;
}

.widget-dnd {
  color: @fg;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: @bg2;
  border: 1px solid @green;
}

.widget-dnd > switch:checked slider {
  background: @green;
  color: @fg;
}

.widget-dnd > switch slider {
  background: alpha(@bg, 0.7);
  border-radius: 0.5rem;
  margin: 0.25rem;
}

/* Music player */
.widget-mpris {
    background: @bg2;
    border-radius: 16px;
    color: @fg;
    margin:  20px 6px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  background: rgba(23, 26, 32, 1);
  border-radius: 10px;
  padding: 15px 14px;
  border: 1px solid @green;
}

.widget-mpris > box > button {
  color: @fg;
  border-radius: 20px;
}
 
.widget-mpris button {
  color: alpha(@fg, .6);
}

.widget-mpris button:hover {
  color: @yellow;
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 12;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 12;
}
