@define-color nord0  #2e3440;
@define-color nord1  #3b4252;
@define-color nord2  #434c5e;
@define-color nord3  #4c566a;
@define-color nord4  #d8dee9;
@define-color nord5  #e5e9f0;
@define-color nord6  #eceff4;
@define-color nord7  #8fbcbb;
@define-color nord8  #88c0d0;
@define-color nord9  #81a1c1;
@define-color nord10 #5e81ac;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;

* {
  all: unset;
  font-family: "Adwaita Mono Nerd Font";
  transition: 0.3s;
  font-size: 10;
}

.floating-notifications.background .notification-row {
  padding: 10px;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: alpha(@nord0, 0.7);
  color: @nord0;
  border: 1px solid @nord3;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @nord11;
  background-color: @nord11;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0px 0.5rem;
  color: @nord4;
  font-weight: 700;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0px 0.5rem;
  color: @nord4;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @nord4;
  background-color: @nord1;
  border: 1px solid @nord3;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @nord1;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @nord9;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @nord4;
  background-color: @nord11;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: @nord4;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @nord11;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: alpha(@nord0, 0.7);
  color: @nord4;
  padding: 1rem;
  border: 1px solid @nord3;
}

.control-center .widget-title {
  color: @nord4;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: @nord4;
  background-color: alpha(@nord0, 0.7);
  border: 1px solid @nord3;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: @nord9;
}

.control-center .widget-title button:active {
  background-color: @nord9;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: alpha(@nord0, 0.7);
  color: @nord4;
  border: 1px solid @nord3;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @nord3;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @nord4;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 1rem 0.5rem 0px 0.5rem;
  color: @nord4;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0px 0.5rem 1rem 0.5rem;
  color: @nord4;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @nord4;
  background-color: @nord0;
  border: 1px solid @nord3;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @nord1;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @nord9;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @nord4;
  background-color: @nord11;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: @nord11;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @nord11;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: @nord11;
}

.notification.low progress,
.notification.normal progress {
  background-color: alpha(@nord0, 0.7);
}

trough {
  background-color: alpha(@nord0, 0.7);
}

.control-center trough {
  background-color: alpha(@nord0, 0.7);
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: alpha(@nord0, 0.7);
  border-radius: 0.5rem;
}

.widget-dnd {
  color: @nord4;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: @nord2;
  border: 1px solid @nord9;
}

.widget-dnd > switch:checked slider {
  background: @nord9;
  color: @nord4;
}

.widget-dnd > switch slider {
  background: alpha(@nord0, 0.7);
  border-radius: 0.5rem;
  margin: 0.25rem;
}

/* Music player */
.widget-mpris {
    background: @nord1;
    border-radius: 16px;
    color: @nord4;
    margin:  20px 6px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  background: rgba(23, 26, 32, 1);
  border-radius: 10px;
  padding: 15px 14px;
  border: 1px solid @nord9;
}

.widget-mpris > box > button {
  color: @nord4;
  border-radius: 20px;
}
 
.widget-mpris button {
  color: alpha(@nord4, .6);
}

.widget-mpris button:hover {
  color: @nord3;
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 10;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 10;
}
