@define-color base           #232136;
@define-color surface        #2a273f;
@define-color overlay        #393552;
@define-color muted          #6e6a86;
@define-color subtle         #908caa;
@define-color text           #e0def4;
@define-color love           #eb6f92;
@define-color gold           #f6c177;
@define-color rose           #ea9a97;
@define-color pine           #3e8fb0;
@define-color foam           #9ccfd8;
@define-color iris           #c4a7e7;
@define-color highlightlow   #2a283e;
@define-color highlightmed   #44415a;
@define-color highlighthigh  #56526e;

* {
  all: unset;
  font-family: "RobotoMono Nerd Font Mono";
  transition: 0.3s;
  font-size: 11;
}

.floating-notifications.background .notification-row {
  padding: 10px;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: alpha(@base, 0.7);
  color: @text;
  border: 1px solid @muted;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @muted;
  background-color: @love;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0px 0.5rem;
  color: @text;
  font-weight: 700;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0px 0.5rem;
  color: @subtle;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @text;
  background-color: @overlay;
  border: 1px solid @muted;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @surface;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @pine;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @text;
  background-color: @love;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: @rose;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @rose;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: alpha(@base, 0.7);
  color: @text;
  padding: 1rem;
  border: 1px solid @muted;
}

.control-center .widget-title {
  color: @text;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: @text;
  background-color: alpha(@base, 0.7);
  border: 1px solid @pine;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: @text;
}

.control-center .widget-title button:active {
  background-color: @foam;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: alpha(@base, 0.7);
  color: @text;
  border: 1px solid @muted;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @muted;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @text;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 1rem 0.5rem 0px 0.5rem;
  color: @text;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0px 0.5rem 1rem 0.5rem;
  color: @text;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @text;
  background-color: @overlay;
  border: 1px solid @muted;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @surface;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @pine;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @text;
  background-color: @love;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: @love;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @love;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: @love;
}

.notification.low progress,
.notification.normal progress {
  background-color: alpha(@base, 0.7);
}

trough {
  background-color: alpha(@base, 0.7);
}

.control-center trough {
  background-color: alpha(@base, 0.7);
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: alpha(@base, 0.7);
  border-radius: 0.5rem;
}

.widget-dnd {
  color: @text;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: @surface;
  border: 1px solid @muted;
}

.widget-dnd > switch:checked slider {
  background: @pine;
  color: @text;
}

.widget-dnd > switch slider {
  background: alpha(@base, 0.7);
  border-radius: 0.5rem;
  margin: 0.25rem;
}

/* Music player */
.widget-mpris {
    background: @base;
    border-radius: 16px;
    color: @text;
    margin:  20px 6px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  background: rgba(23, 26, 32, 1);
  border-radius: 10px;
  padding: 15px 14px;
  border: 1px solid @muted;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 20px;
}
 
.widget-mpris button {
  color: alpha(@text, .6);
}

.widget-mpris button:hover {
  color: @subtle;
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 11;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 11;
}
