* {
    font-family: monospace;
    font-size: 10px;
    font-weight: normal;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #888888;
    border: none;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #222222;
}

#mpris {
    color: #ffffff;
    padding: 0 10px;
}

#tray {
    padding: 0 10px;
}

#clock {
    color: #ffffff;
    padding: 0 10px;
}
