@define-color bg      #fbf1c7;
@define-color red     #cc241d;
@define-color green   #98971a;
@define-color yellow  #d79921;
@define-color blue    #458588;
@define-color purple  #b16286;
@define-color aqua    #689d6a;
@define-color gray    #928374;
@define-color orange  #d65d0e;
@define-color fg      #3c3836;
@define-color bg0_h   #f9f5d7;
@define-color bg0_s   #f2e5bc;
@define-color bg1     #ebdbb2;
@define-color bg2     #d5c4a1;
@define-color bg3     #bdae93;
@define-color bg4     #a89984;
@define-color fg0     #282828;
@define-color fg1     #3c3836;
@define-color fg2     #504945;
@define-color fg3     #665c54;
@define-color fg4     #7c6f64;

* {
  border: none;
  font-family: "Liga SFMono Nerd Font";
  font-size: 12;
}

window#waybar {
  background: transparent;
  padding: 10px;
}
/*-----module groups----*/
.modules-right {
}
/*-----modules indv----*/
#workspaces {
  border-radius: 5px;
}
#workspaces button {
  padding: 0px 5px;
  color: @nord4;
}
#workspaces button:hover {
  background: linear-gradient(to bottom, @nord0, #222); /* Top to bottom gradient */
}

#workspaces button.active {
  font-weight: bold;
  background: @nord0;
}

#pulseaudio,
#custom-theme,
#custom-media,
#custom-weather,
#custom-notification,
#clock,
#cpu,
#temperature,
#network,
#tray {
  color: @nord4;
  padding: 5px;
}
#custom-separator1 {
  margin-top: -12px;
  margin-bottom: -10px;
  font-size: 12;
  color: @nord8;
  background-color: @nord0;
}
#custom-separator2 {
  margin-top: -12px;
  margin-bottom: -10px;
  font-size: 12;
  color: @nord0;
  background-color: @nord3;
}
#custom-separator3 {
  margin-top: -12px;
  margin-bottom: -10px;
  font-size: 12;
  color: @nord3;
  background-color: transparent;
}
#clock.time {
  color: @nord0;
  background-color: @nord8;
}
#clock.date {
  color: @nord0;
  background-color: @nord8;
}
#custom-weather {
  color: @nord0;
  background-color: @nord8;
}
#temperature {
  color: @nord5;
}
#custom-media {
  background-color: @nord3;
}
#custom-theme {
  color: @nord8;
}
#network {
  color: @nord8;
}
#temperature {
  color: @nord8;
  background-color: transparent;
  margin-left: -2px;
}
#cpu {
  color: @nord8;
}
#pulseaudio {
  color: @nord7;
  background-color: @nord0;
}
#tray {
  background-color: @nord0;
}
#custom-notification {
  background-color: @nord0;
}
