@define-color nord0      #2e3440;
@define-color nord1      #3b4252;
@define-color nord2      #434c5e;
@define-color nord3      #4c566a;
@define-color nord4      #d8dee9;
@define-color nord5      #e5e9f0;
@define-color nord6      #eceff4;
@define-color nord7      #8fbcbb;
@define-color nord8      #88c0d0;
@define-color nord9      #81a1c1;
@define-color nord10     #5e81ac;
@define-color nord11     #bf616a;
@define-color nord12     #d08770;
@define-color nord13     #ebcb8b;
@define-color nord14     #a3be8c;
@define-color nord15     #b48ead;

* {
  border: none;
  font-family: "Cartograph CF";
  font-size: 10px;
}

window#waybar {
  background: transparent;
}
/*-----module groups----*/
.modules-right {
}
/*-----modules indv----*/
#workspaces {
  border-radius: 5px;
}
#workspaces button {
  padding: 0px 5px;
  color: @nord4;
}
#workspaces button:hover {
  background: linear-gradient(to bottom, @nord0, #222); /* Top to bottom gradient */
}

#workspaces button.active {
  font-weight: bold;
  background: @nord0;
}

#pulseaudio,
#custom-theme,
#custom-media,
#custom-weather,
#custom-notification,
#clock,
#cpu,
#temperature,
#network,
#tray {
  color: @nord4;
  padding: 5px;
}
#custom-separator1 {
  margin-top: -12px;
  margin-bottom: -10px;
  font-size: 30px;
  color: @nord8;
  background-color: @nord0;
}
#custom-separator2 {
  margin-top: -12px;
  margin-bottom: -10px;
  font-size: 30px;
  color: @nord0;
  background-color: @nord3;
}
#custom-separator3 {
  margin-top: -12px;
  margin-bottom: -10px;
  font-size: 30px;
  color: @nord3;
  background-color: transparent;
}
#clock.time {
  color: @nord0;
  background-color: @nord8;
}
#clock.date {
  color: @nord0;
  background-color: @nord8;
}
#custom-weather {
  color: @nord0;
  background-color: @nord8;
}
#temperature {
  color: @nord5;
}
#custom-media {
  background-color: @nord3;
}
#custom-theme {
  color: @nord8;
}
#network {
  color: @nord8;
}
#temperature {
  color: @nord8;
  background-color: transparent;
  margin-left: -2px;
}
#cpu {
  color: @nord8;
}
#pulseaudio {
  color: @nord7;
  background-color: @nord0;
}
#tray {
  background-color: @nord0;
}
#custom-notification {
  background-color: @nord0;
}
