@define-color base           #232136;
@define-color surface        #2a273f;
@define-color overlay        #393552;
@define-color muted          #6e6a86;
@define-color subtle         #908caa;
@define-color text           #e0def4;
@define-color love           #eb6f92;
@define-color gold           #f6c177;
@define-color rose           #ea9a97;
@define-color pine           #3e8fb0;
@define-color foam           #9ccfd8;
@define-color iris           #c4a7e7;
@define-color highlightlow   #2a283e;
@define-color highlightmed   #44415a;
@define-color highlighthigh  #56526e;

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 10;
}

window#waybar {
  padding: 10px;
  background: transparent;
}
/*-----module groups----*/
.modules-center {
  background-color: @base;
  border: 1px solid @highlightlow;
  border-radius: 5px;
}
/*-----modules indv----*/
#workspaces {
  border-radius: 5px;
}
#workspaces button {
  padding: 0px 5px;
  color: @highlightmed;
}
#workspaces button:hover {
  background: linear-gradient(to bottom, @base, @overlay); /* Top to bottom gradient */
}

#workspaces button.active {
  font-weight: bold;
  background: @highligtlow;
}

#pulseaudio,
#custom-theme,
#custom-media,
#custom-mail,
#custom-weather,
#custom-notification,
#clock,
#cpu,
#temperature,
#network,
#tray {
  color: @text;
  padding: 5px;
}
#pulseaudio {
  margin-right: 10px;
}
#clock.time, #tray {
  color: @text;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#clock.date, #custom-weather {
  color: @text;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#temperature {
  color: @text;
}
#custom-mail {
  color: @text;
}
#custom-media {
  color: @text;
}
#custom-theme {
  color: @text;
}
#network {
  color: @text;
}
#temperature {
  color: @text;
}
#cpu {
  color: @text;
}
#pulseaudio {
  color: @text;
}
#tray {
  color: @text;
  margin-right: 8px;
}
#custom-notification {
}

