@import "./rose-pine-dawn.css";

* {
    border: none;
    font-family: "Iosevka Nerd Font";
    font-size: 12px;
}
window#waybar {
    background: @overlay;
    border-radius: 5px;
    margin-bottom: 10px;
}
/*-----module groups----*/
.modules-right {
    margin: 5px 10px 5px 0px;
}
.modules-center {
    margin: 5px;
}
.modules-left {
    margin: 5px 0px 5px 10px;
}
/*-----modules indv----*/
#workspaces {
    background-color: @base;
    border-radius: 5px;
}
#workspaces button {
    padding: 0px 5px;
    color: @subtle;
}
#workspaces button:hover {
    box-shadow: inherit;
}

#workspaces button.active {
    font-weight: bold;
    color: @text;
}

#pulseaudio,
#custom-media,
#custom-weather,
#custom-norification,
#clock,
#cpu,
#temperature,
#network,
#tray {
    padding: 0px 8px;
    color: @subtle;
}
#clock.time {
    color: @foam;
    background-color: @base;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -5px;
}
#clock.date {
    color: @foam;
    background-color: @base;
    margin-left: -5px;
}
#custom-weather {
    color: @text;
    background-color: @base;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -2px;
    margin-right: 5px;
}
#temperature {
    color: @text;
}
#custom-media {
    color: @foam;
    background-color: transparent;
}
#network {
    color: @love;
    background-color: @base;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -5px;
}
#temperature {
    color: @gold;
    background-color: @base;
    margin-left: -2px;
}
#cpu {
    color: @foam;
    background-color: @base;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -2px;
    margin-right: 5px;
}
#pulseaudio {
    color: @text;
    background-color: @base;
    border-radius: 5px;
}
#tray {
    background-color: @base;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 5px;
}
#custom-notification {
    background-color: @base;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 8px;
    margin-left: -2px;
}
