@define-color bg      #fbf1c7;
@define-color red     #cc241d;
@define-color green   #98971a;
@define-color yellow  #d79921;
@define-color blue    #458588;
@define-color purple  #b16286;
@define-color aqua    #689d6a;
@define-color gray    #928374;
@define-color orange  #d65d0e;
@define-color fg      #3c3836;
@define-color bg0_h   #f9f5d7;
@define-color bg0_s   #f2e5bc;
@define-color bg1     #ebdbb2;
@define-color bg2     #d5c4a1;
@define-color bg3     #bdae93;
@define-color bg4     #a89984;
@define-color fg0     #282828;
@define-color fg1     #3c3836;
@define-color fg2     #504945;
@define-color fg3     #665c54;
@define-color fg4     #7c6f64;

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 10;
}

window#waybar {
  background: transparent;
  padding: 10px;
}
/*-----module groups----*/
.modules-center {
  background-color: @bg0_s;
  border: 1px solid @bg1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*-----modules indv----*/
#workspaces {
  border-radius: 5px;
}
#workspaces button {
  padding: 0px 5px;
  color: @fg0;
}
#workspaces button:hover {
  background: linear-gradient(to bottom, @bg1, @bg2); /* Top to bottom gradient */
}

#workspaces button.active {
  font-weight: bold;
  background: @bg0_s;
}

#pulseaudio,
#custom-theme,
#custom-media,
#custom-weather,
#custom-notification,
#clock,
#cpu,
#temperature,
#network,
#tray {
  color: @fg0;
  padding: 5px;
}
#clock.time #tray {
  color: @fg0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#clock.date #custom-weather {
  color: @fg0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#custom-media {
  color: @fg0;
}
#custom-theme {
  color: @fg0;
}
#network {
  color: @fg0;
}
#temperature {
  color: @fg0;
}
#cpu {
  color: @fg0;
}
#pulseaudio {
  color: @fg0;
}
#tray {
  color: @fg0;
  margin-right: 8px;
}
#custom-notification {
  color: @fg0;
}
